{% extends 'base.html' %}
{% block body %}


<div>
 
    <form action="/add_inventory" method="POST">
        <h3> Add inventory to a warehouse:</h3>
        Inventory item:
        <p><input type="text" name="inventory_item"></p>
        Quantity:
        <p><input type="text" name="quantity"></p>
        Manufacturer:
        <p><input type="text" name="manufacturer"></p>
        Comments:
        <p><input type="text" name="comments"></p>
        Warehouse:
        <select name = "warehouse_id" id = "warehouse_id">
            {% for warehouse in warehouses %}
            
            <option value = {{warehouse.warehouse_id}}  id = "warehouse_id" name = "warehouse_id">{{warehouse.location}}</option>
           
            {% endfor %}
            
        </select>
        <button class = "btn btn-primary" type = 'submit'>Submit</button>
    </form>
</div>




{% endblock %}